.container {
  width: 600px;
  margin: auto;
}

.grid-container {
  border: 5px solid orangered;
  width: 500px;
  height: 500px;
  margin: 0 auto 18px;
  display: flex;
  flex-direction: column;
}

.grid-row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.grid-square {
  flex: 1;
  cursor: crosshair;
}

.reset-btn {
  display: block;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
}

h1, #author, .slider, .color-picker {
  text-align: center;
}